version: '3.8'
services:
  app:
    build: .
    ports:
      - '8000:8000'
    depends_on:
      - db

  db:
    image: postgres
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_DB: 'app'
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: